@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css');

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

html, body {
    /* width: 100%; */
    margin: 0;
    padding: 0;
}

html {
    background: url(./../images/background.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.body {

}

.mobile-nav {
    display: none;
    z-index: 10;
    margin: 25px;
}

.wrapper-header, .wrapper-main {
    /* width: 100%; */
}

.wrapper-header {
    background: white;
}

.wrapper-header-context {
    margin: auto;
    background: #d8dadb;
    width: 1300px;
}

.wrapper-header-context-left {
    float: left;
    margin: 25px 50px;
}

.wrapper-header-context-right {
    float: right;
    margin: 25px 50px;

}

.wrapper-header-context-right-menu {
    margin-top: 20px;
    display: inline-block;
}


.wrapper-header-context-right a {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #774520;
}

.wrapper-header-context-right-form-search {
    display: inline-block;
    font-size: 0;
}

.wrapper-header-context-right-form-search input[type="text"] {
    width: 170px;
    height: 35px;
    border: none;
}

.wrapper-header-context-right-form-search input[type="submit"] {
    width: 70px;
    height: 35px;
    background: #b14715;
    border: none;
    color: white;
}

.wrapper-main {
    background-color: white;
    /*position: absolute;*/
}

.wrapper-main-first, .wrapper-main-second, .wrapper-main-third {
    display: inline-block;
    position:absolute;
}

.wrapper-main-first, .wrapper-main-third {
    z-index: 1;
    height: 520px;
    background-color: #dedede;
}

.wrapper-main-second {
    z-index: 2;
    width: 1300px;
    left: 50%;
    transform: translate(-50%);

}

.wrapper-main-second > .flexslider {
    border: none;
}

.wrapper-main-first img, .wrapper-main-second img, .wrapper-main-third img {
    height: 520px;
}

.wrapper-main-first img, .wrapper-main-third img {
    filter: alpha(Opacity=50);
    opacity: 0.5;
}

.wrapper-main-third {
    right: 0;
}



.wrapper-main-second-title {
    position: absolute;
    top: 10%;
    left: 55%;
    z-index: 3;
    font-size: 30px;
    font-family: Georgia;
    color: white;
}

.wrapper-main-second-content {
    position: absolute;
    margin-right: 40px;
    top: 20%;
    left: 55%;
    z-index: 3;
    font-family: Arial;
    color: white;
}

.flexslider {
    directionNav: true;
}

.flexslider img {
    width: 1320px;
    height: 520px;

}

.custom-navigation {
    position: absolute;
    top: 5%;
    left: 90%;
    z-index: 3;
    width: 150px;
    height: 50px;
}

.custom-navigation * {
    display: inline-block;
}
.custom-navigation img {
    height:20px;
    width: 16px;
}


.flex-control-nav {
    position: static !important;
}
.custom-controls-container > ol li a {
    background-image: url(./../images/flexslider_button.png);
    z-index: 4;
    width: 16px;
    height: 16px;

}

.custom-controls-container > ol {

}
.custom-controls-container > ol li {
    background-color: transparent;
}
.custom-controls-container > ol li a.flex-active {
    width: 16px;
    height: 16px;
    background-image: url(./../images/flexslider_button_active.png);
    z-index: 4;
}
.flex-control-paging {

}

.flex-control-paging li {
    background-color: white;
}

.clear-fix {
    clear: both;
}

.wrapper-main {
    overflow: hidden;
    /*height: 500px;*/
}
.wrapper-main-contain {
    margin: auto;
    margin-top: 500px;
    position: relative;
    width: 1200px;
    z-index: 6;
}

.vertical-tab {
    position: relative;
    z-index: 999999;
    float: left;
    width: 75%;
    border: solid #e6e6e6 3px;

    right: 0;

    /*position: relative;*/
    /*z-index: 999999;*/
    background-color: white;
}

.horizontal-tab {
    float: right;
    width: 25%;
    position: absolute;
    margin-left: 898px;
    margin-top: -28px;
    /*bottom: px*/
}


/*.vert-tab > div, .vert-tab > input {*/
/*display: none;*/
/*min-height: 250px; !* 50px × 3 вкладки *!*/
/*position: relative;*/
/*}*/

.vert-tab > div {
    height: 415px;
    position: relative;
}

.vert-tab > div.vert-tab-div-context {
    position: relative;
    display: block;
    padding: 1px 0px 1px 0px;
    margin-left: 250px;
    border-left: 3px solid #e6e6e6;
    background-image: url(./../images/context-background.png);
}

.vert-tab > div.vert-tab-div-context div.title {
    font-family: Georgia;
    font-size: 30px;
    margin-bottom: 25px;
}

.vert-tab > div.vert-tab-div-context div.content {
    font-family: Arial;
    font-size: 18px;
}

.vert-tab > div.vert-tab-div-context div.link {
    font-family: Arial;
    font-size: 15px;
    color: #964415;
}

.vert-tab > div.vert-tab-div-context div.button {
    margin: 25px 0;
    border: solid 3px #e6e6e6;
    background-color: #f7f8fa;
}

.vert-tab > div.vert-tab-div-context div.button-main {
    background-color: #d9b36e;
    margin: 25px;
    text-align: center;
    border: solid 2px white;
    padding: 15px;
    font-family: Arial;
    color: white;
    font-size: 18px;
}

.vert-tab-div-context-main {
    margin: 40px;
}

.vert-tab li::after {
    display: none;
    content: '';
    position: absolute; /* Абсолютное позиционирование */
    left: 200px; bottom: 15px; /* Положение треугольника */
    border: 15px solid transparent;
    border-left: 15px solid #6d686f;
}

.vert-tab > ul > li:nth-of-type(1):hover:after,
.vert-tab > ul > li:nth-of-type(2):hover:after,
.vert-tab > ul > li:nth-of-type(3):hover:after,
.vert-tab > ul > li:nth-of-type(4):hover:after,
.vert-tab > ul > li:nth-of-type(5):hover:after {
    display: block;
}

.vert-tab > ul > li:nth-of-type(1):hover div,
.vert-tab > ul > li:nth-of-type(2):hover div,
.vert-tab > ul > li:nth-of-type(3):hover div,
.vert-tab > ul > li:nth-of-type(4):hover div,
.vert-tab > ul > li:nth-of-type(5):hover div {
    display: block;
    padding: 0;
    margin: 0;
    height:auto;
    width: 200px;
    top: 0;
    left: 250px;
    /*border: solid 1px  black;*/
    z-index: 100;
}

.vertical-tab-strategies-dropdown {
    padding: 0;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    height: 100px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


.vert-tab ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20px;
    background-color: #f1f1f1;
}

.vert-tab ul li {
    border: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    height: 50px;
    line-height: 25px;
    text-align: left;
    margin-bottom: 0;
    margin-top: 0;
}

.vert-tab li:nth-of-type(2) { top: 51px;}
.vert-tab li:nth-of-type(3) { top: 102px;}
.vert-tab li:nth-of-type(4) { top: 153px;}
.vert-tab li:nth-of-type(5) { top: 204px;}

.vert-tab ul li a {
    cursor: pointer;
    font-family: Arial;
    font-size:18px;
    color: #964415;
    display: block;
    padding: 8px 16px;

}

.vert-tab ul li a:hover {
    background: #555;
    background: linear-gradient(to right, #6d686f,#fdfdfd);
    color: white;
}



.hor-tab {
    position: relative;
    z-index: 999999;

}

.hor-tab > div, .hor-tab > input.hor-tab-input {
    display: none;
}


.hor-tab label {
    padding: 5px;
    border: 1px solid #aaa;
    line-height: 28px;
    cursor: pointer;
    position: relative;
    bottom: 1px;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    color: black;
    background: #bababa;
}

.hor-tab label.first-label {
    margin-left: 10px;
}

.hor-tab input[type="radio"]:checked + label {
    background: white;
    color: #6d2d09;
    border-bottom: 10px solid #fff;
    position: relative;
    z-index: 77;

}



.hor-tab > input:nth-of-type(1):checked ~ div:nth-of-type(1),
.hor-tab > input:nth-of-type(2):checked ~ div:nth-of-type(2),
.hor-tab > input:nth-of-type(3):checked ~ div:nth-of-type(3) {
    display: block;
    padding: 5px;
    border: 3px solid #e6e6e6;
    position: relative;
    z-index: 999999;
    height: 421px;
}


.horizontal-tab-div {
    position: relative;
    z-index: 999999;
    background-color: white;
    font-family: Arial;
    font-size: 13px;
    color: #964415;
}

.horizontal-tab-div span{
    /*float: right;*/

}
.horizontal-tab-div li{
    margin: 15px;
    margin-bottom: 0;
}

.horizontal-tab-div img {
    border: solid 3px #cccccc;
    float: left;
    margin-right: 15px;
    /*widgth: 20%*/
}

.horizontal-tab-div-img-data{
    font-size: 13px;
    color: #666666;
    /*float: right;*/
}

.wrapper-footer {
    z-index: 7;
    /*border: solid crimson 2px;*/
    margin: auto;
    margin-top: 918px;
    position: relative;
    width: 1198px;
    height: 210px;
    z-index: 6;
    background-image: url(./../images/footer-background.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 0;
}

.wrapper-footer  div {
    display: inline-block;
    font-size: 15px;
    vertical-align: top;
    padding: 25px;
    border-right: solid #a4adab 1px;
    height: 99%;
}

.wrapper-footer  div ul li{
    font-size: 13px;
    font-family: Arial;
    color: #737468;
    margin: 10px;

}
.wrapper-footer-column1 {
    width: 25%;
}

.wrapper-footer-column2 {
    width: 15%;
}

.wrapper-footer-column3 {
    width: 20%;
}

.wrapper-footer-column4 {
    width: 20%;
}

.wrapper-footer-column5 {
    width: 20%;
}

.wrapper-footer  div ul li.column-title {
    font-size: 16px;
    font-family: Arial;
    font-weight:bold;
    color: white;
}

.wrapper-footer-end{
    height: 200px;
    margin-top: 20px;
    color: white;
    font-size: 13px;
    font-family: Arial;

}

.wrapper-footer-end span {
    display:block;
    width:325px;
    height: 100%;
    margin: 0 auto;
}

@media screen and  (max-width: 1315px){

    .wrapper-main-first, .wrapper-main-third {
        display: none
    }

    .wrapper-main-second {
        display: block;
        position: relative;
        width: 100%;
        left: 0;
        transform: translate(0);
    }


    .wrapper-header-context {
        width: auto;
    }

    .wrapper-main-second {
        width: auto;
    }

    .wrapper-main-contain {
        margin-top: -80px;
    }

    .wrapper-footer {
        margin-top: 420px;
        min-width: 965px;
    }

    .wrapper-footer-end {
        margin-top: 450px;
    }
}

@media screen and  (max-width: 1200px) {

    .wrapper-header-context-left, .wrapper-header-context-right {
        float: none;
        text-align: center;
    }

    .wrapper-header-context-right {
        margin-bottom: 10px;
    }

    .custom-navigation {
        top: 5%;
        left: 5%;
    }

    .wrapper-main-second-title {
        top: 10%;
        left: 5%;
    }

    .wrapper-main-second-content {
        top: 20%;
        left: 5%;
    }

    .wrapper-main-contain{
        position: relative;
        width: auto;
        z-index: 6;
    }

    .vertical-tab, .horizontal-tab {
       width: 50%;
    }
    .vert-tab ul{
        display: none;
    }

    .vert-tab > div.vert-tab-div-context {
        margin-left: 0;
    }

    .horizontal-tab {
        float: right;
        width: 50%;
        position: relative;
        margin-left: auto;
        margin-top: -28px;
    }

    .vertical-tab {
        border-left: none;
        border-right: none;
    }

    .wrapper-footer {
        display: none;
    }

    .mobile-nav {
        display: block;
    }
    .menu-btn div {
        position: absolute;
        left: 100%;
        top: 64%;
        padding-right: 8px;
        margin-top: -0.50em;
        line-height: 1.2;
        font-size: 18px;
        font-weight: 200;
        vertical-align: middle;
        z-index: 99;
    }

    .menu-btn span {
        display: block;
        width: 19px;
        height: 3px;
        margin: 4px 0;
        background: rgb(0,0,0);
        z-index: 99;
    }

    .responsive-menu ul li {
        margin: 10px;
        padding: 10px;
        font-family: Arial;
        font-size: 14px;
        color: #964415;

    }

    .responsive-menu{
        display: none;
    }

    .expand {
        display: block !important;
    }

    .visible {
        display: block !important;
    }

    .open-menu-link{
        display: none;
        position: absolute;
        right: 0;
        left: 100px;
        top:310px;
        line-height: 55px;
        font-size: 30px;
        cursor: pointer;
    }

    .responsive-menu ul li .responsive-menu-children {
        display: none;
    }
}



